<mat-card>
  <!------------------------->
  <!--       profile       -->
  <div class="profile-container">
    <img src="{{ userProfile.photo }}" />
    <div>
      <h2>{{ userProfile.username }}</h2>
      <h3>{{ userProfile.name }} {{ userProfile.family }}</h3>
      <p>{{ userProfile.description }}</p>
      <button mat-button>Edit profile</button>
    </div>
  </div>
  <!------------------------->
  <!-- list of user items  -->
  <app-search-result [content]="userContents"></app-search-result>
</mat-card>
