.main-div {
  display: grid;
  grid-template-rows: auto 0 1fr auto;
  height: 100%;
}

.main-header {
  grid-row: 1;
  background-color: transparent;
}

router-outlet {
  grid-row: 2;
}

router-outlet + * {
  grid-row: 3;
  overflow-y: scroll;
  border-radius: 5px;

  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; */
}

.main-footer {
  grid-row: 4;
  background-color: transparent;

  display: flex;
  justify-content: space-around;
}

.main-footer > * {
  padding: 0.5rem 2rem !important;
  transition: all var(--transition-time);
}

.main-footer > *:hover {
  color: var(--color-font4);
}

/* animation of select */
.main-footer-selected {
  -webkit-animation: blinked 2s infinite ease-in-out;
  animation: blinked 2s infinite ease-in-out;
}

@keyframes blinked {
  0%,
  100% {
    color: var(--color-link-hover);
  }
  50% {
    color: var(--color-link-active);
  }
}
