.main-div {
  display: grid;
  grid-template-rows: auto 0 1fr auto;
  height: 100%;
}

.main-header {
  grid-row: 1;
  background-color: transparent;
}

router-outlet {
  grid-row: 2;
}

router-outlet + * {
  grid-row: 3;
  overflow-y: scroll;
}

.main-footer {
  grid-row: 4;
  background-color: transparent;

  display: flex;
  justify-content: space-around;
}

.main-footer > * {
  padding: 0.5rem 2rem !important;
  transition: all var(--transition-time);
}

.main-footer > *:hover {
  color: var(--color-font4);
}
