.dashboard-card {
  margin-bottom: 0.8rem;
}

.mat-card-title {
  color: var(--color-font3);
}

.mat-card-subtitle {
  color: var(--color-font4);
}

.mat-card-avatar {
  transition: all var(--transition-time);
}

.mat-card-avatar:hover {
  box-shadow: rgba(60, 64, 67, 0.6) 0px 2px 3px 0px;
}

/* ********************************* */

.WhenYouliked {
  color: red;
}

/* comments */
.dashboard-comments {
  padding-top: 1rem;
}

.dashboard-comment {
  display: grid;
  grid-template-columns: 5% 1fr;
  gap: 0.7rem;
  align-items: center;
  margin: 0.4rem 0;
}

.dashboard-comment-user-name {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.dashboard-comment-user-img {
  grid-column: 1;

  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  border: solid 1px #333;
}

.dashboard-comment > p {
  grid-column: 2;
  margin: 0;
}
